@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:ital,wght@0,300;0,500;1,100;1,400;1,500&display=swap');


*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poiret One', cursive;
    background: conic-gradient(at top right, lime, cyan);
}

.container{
    border: 1px solid black;

    width: 90%;
    margin: auto;
    display: flex;

}

.groceries{
    border: 1px solid black;

    width: 600px;
    min-height: 100vh; /* using min-height allows the groceries container list to grow as more items are added */
    margin: auto;
    background: white;
    box-shadow: 10px 10px 24px 0 rgba(0, 0, 0, 0.459)
}

.groceries h1{
    font-size: 2.5rem;
    margin-top: 1em;
}

.groceries i{
    font-size: 2rem;
    color: coral;
}

.groceries input{
    font-family: 'Poiret One', cursive;
    outline: 0;
    border: 0;
    border-bottom: 3px solid black;
    width: 70%;
    font-size: 1.5rem   ;
}


.allItems h2{
    border: 1px solid black;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 2rem;
}